node_modules
**/node_modules
dist
**/dist
build
**/build
coverage
**/coverage
.env
.env.*
**/.env
**/.env.*
npm-debug.log
.git
.gitignore
.DS_Store
.next
.turbo
coverage
.vscode
.idea
*.log
coverage
.vscode
.idea
*.log
*.swp
*.swo
*~
.cache
.nuxt
.vercel
.output
*.pem
docs